@import "../../style/mixins.scss";

.error-message {
  margin-bottom: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--danger-color);
  border-radius: 5px;
  background: var(--danger-light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: var(--text-danger-color);
  }

  button {
    @include btn();
    padding: 0.1rem 0.4rem;
    background: var(--danger-color);
    color: var(--text-light-color);
  }
}
