@import "../../style/mixins.scss";

.snippet {
  @include card();
  margin: 1.5rem 0;

  .title,
  .description,
  .code {
    margin-bottom: 1rem;
  }

  .code {
    padding: 0.5rem;
    border-radius: 5px;
    background: var(--dark-color);
    font-family: monospace;
    font-size: 1.3rem;
  }

  .btn-delete,
  .btn-edit {
    @include btn();
    margin-right: 1rem;
  }

  .btn-edit {
    background: var(--primary-color);
    color: var(--text-light-color);
  }

  .btn-delete {
    background: var(--danger-color);
    color: var(--text-light-color);
  }
}
