@import "./variables.scss";
@import "./mixins.scss";
@import "./forms.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: var(--text-dark-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px;
}

// reset

button {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: unset;
  @include lnk();
}

input,
textarea {
  border: unset;
  color: unset;
  background: unset;
  font: unset;
}
