:root {
  --primary-color: #721bff;
  --light-color: #ffffff;
  --dark-color: #d1d1d1;
  --danger-color: #c71a1a;
  --danger-light-color: #f5b2b2;

  --text-dark-color: #3a3a3a;
  --text-light-color: #ffffff;
  --text-link-color: #9a62f3;
  --text-danger-color: #a81515;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
